<div class="follow-btn">
  <% unless current_user == user %>
    <% if current_user.following?(user) %>
      <%= link_to 'Following', user_relationships_path(user.id), method: :delete, class: "btn btn-primary test" %>
    <% else %>
      <%= link_to 'Follow', user_relationships_path(user.id), method: :post, class: "btn btn-success test" %>
    <% end %>
  <% end %>
</div>
