<div class="container">
  <div class="row">
    <div class="col-xs-offset-3 col-xs-6 withdraw-text">
        <h3><strong>本当に退会しますか？</strong></h3>
        <p>退会すると、あなたの登録情報や<br>これまでの投稿、他のユーザーとのやり取りなどが閲覧できなくなります。<br>退会する場合は、「退会する」をクリックしてください。</p>

       <div class="withdraw-button">
  			<%= link_to "退会しない", users_withdrawal_path(@user), class: "btn btn-primary"%>&ensp;
  			<%= link_to "退会する", users_withdrawal_path(@user), method: :patch, data: {confirm: "本当に退会してもよろしいですか？"}, class: "btn btn-danger" %>
  	   </div>
    </div>
  </div>
</div>
