
 <div class="container">
  <div class="row">
    <div class='mx-auto'>
     <h1 class="about-font">Connect on <i class="fas fa-compact-disc"></i><strong>Digather </strong>!!</h1>
     <p class="font-color">Discover, information, and share a constantly expanding mix of music from</p>
     <p class="font-color">emerging and major HipHop artists around the world.!</p>
  </div>
 </div>
 <%= render "layouts/fotter" %>
</div>
