/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";

.top-body{
 background-repeat: no-repeat;
 background-size: cover;
 background-position: center center;
 background-image: url("record.jpg");
 width:100%;
 min-height:100vh;

}

.test {
  width: 100px;
  height: 38px;
}

.header-font{
  font-size: 40px;
  font-family: cursive;
  color: #ffd700;
}

.info-font{
  margin-top: 65px;
  margin-bottom: 30px;
  text-align: center;
  font-size: 50px;
  color: black;
  font-family: cursive;
}

.main-font{
  margin-top: 20px;
  margin-bottom: 25px;
  font-size: 50px;
  text-align: center;
  font-family: cursive;
}

.main-sub-font{
  text-align: center;
  font-family: cursive;
  font-size: 30px;
}

.link-new{
  margin-top: 30px;
  text-align: center;
  font-family: cursive;
}

.link-show{
  font-family: cursive;
  font-size: 18px;
}

.playlist-edit-footer{
  margin-top: 150px;
}

// .notice{
//   color: #00ff00;
// }

.error{
  text-align: center;
  color: #ff0000;
}
