// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.top{
    font-size: 60px;
}

.about-font{
    text-align: center;
    margin-top: 80px;
    font-size: 100px;
    color: #ff00ff;
    font-family: cursive;
}

.font-color{
    text-align: center;
    margin-top: 80px;
    font-size: 47px;
    color: #ff00ff;
    font-family: cursive;
}

.log-in-btn{
    height: 35px;
}
