// Place all the styles related to the playlists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.playlist-body{
  width:100%;                                            /* 横幅のサイズを指定    */
  min-height:100vh;
  background-color: #e0ffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.songs-text{
  width: 170px;
  text-align: center;
  font-family: cursive;
}

.song-posts{
  height: 35px;
}

.search{
  display: flex;
  justify-content: center;
}

.main-playlist-font{
  margin-top: 65px;
  margin-bottom: 50px;
  font-size: 50px;
  text-align: center;
  font-family: cursive;
}

.main-playlist-font{
  margin-top: 20px;
  margin-bottom: 25px;
  font-size: 50px;
  text-align: center;
  font-family: cursive;
}

.main-sub-playlist-font{
  text-align: center;
  font-family: cursive;
  font-size: 25px;
}

.show-back{
  font-size: 25px;
  text-align: center;
}