// Place all the styles related to the playlists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.playlist-body{
  max-width: 100vw;                                            /* 横幅のサイズを指定    */
  min-height:100vh;                                            /* 縦幅のサイズを指定    */
  background-image: image-url("paisley.jpg");                  /* URLの前にimageを付けないと本番環境で表示されない    */
  background-color:rgba(248,249,250,0.85);                     /* 透明度の指定    */
  background-blend-mode:lighten;
}

.songs-text{
  width: 170px;
  text-align: center;
  font-family: cursive;
  white-space: pre;
}

.song-posts{
  height: 35px;
}

.main-playlist-font{
  margin-top: 65px;
  margin-bottom: 50px;
  font-size: 50px;
  text-align: center;
  font-family: cursive;
}

.main-playlist-font{
  margin-top: 20px;
  margin-bottom: 50px;
  font-size: 50px;
  text-align: center;
  font-family: cursive;
}

.main-sub-playlist-font{
  text-align: center;
  font-family: cursive;
  font-size: 25px;
}

.show-back{
  font-size: 25px;
  text-align: center;
}

.image-position{
  text-align: center;
}

// メディアクエリを使ったレスポンシブ対応の記述
@media screen and (max-width: 640px) {
  .last td:last-child {
    border-bottom: solid 1px #ccc;
    width: 100%;
  }
  .tbl-r04 {
    width: 100%;
  }
  .tbl-r04 th,
  .tbl-r04 td {
　　border-bottom: none;
    display: block;
    width: 100%;
  }
}
p {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin: 60px auto 40px;
}
th {
  border-top: solid 1px gray;
  color: black;
  padding: 10px;
}
td {
  border-top: solid 1px gray;
  padding: 10px;
}



// スマホサイズで切り替わる
@media screen and (max-width: 480px) {
  .tbl-r04 {
    text-align: center;
  }
  .tbl-r04 thead {
    border: none!important;
  }
  .tbl-r04 tr,
  .tbl-r04 td{
    display: block;
    width: 100%;
    position: relative;
  }
  .bordernone{
    border: none!important;
  }
  .tbl-r04 td:first-child:before {
    text-align: center;
    margin-bottom: 15px;
    box-sizing: border-box;
    color: black;
    font-weight: bold;
    height: 40px;
    padding: 10px;
    position: absolute;
    top: -41px;
    left: -0.2%;
    display: block;
    width: 100.5%;
  }
  .tbl-r04 tr {
    text-align: center;
    margin-bottom: 40px;
  }
  .borderline {
    padding: 0!important;
    border: none!important;
  }
  .user-info-edit{
    font-size: 53px!important;
  }
  .user-edit-field{
    font-size: 22px!important;
  }
  .about-font{
    font-size: 70px!important;
  }
}
