// Place all the styles related to the playlist_comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comment{
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: center;
  font-family: cursive;
}

.comment-btn{
  text-align: center;
  font-family: cursive;
}