<div class="playlist-body">
 <div class="container">
  <div class="row">
   <div class="col-md-3">
    <h1 class="info-font">Candy info</h1>
     <%= render 'users/profile', user: current_user %>
    <h2 class="link-new"><%= link_to "New playlist", new_playlist_path %></h2>
   </div>

   <div class="col-md-8 offset-md-1">
    <%= render 'playlists/playlists', playlist_ranking: @playlist_ranking %>
   </div>
  </div>
  <%= render "layouts/fotter" %>
 </div>
</div>